<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salesforce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
</head>

<body>
    
    <section id="main-section">
        <div class="container main-background">

            <!-----------Heading-div----------->

            <div class="heading">
                <h4 class="header">Welcome to</h4>
                    <h1 class="font-bold">Netsuite Connector</h1><br>
                    <h4>Please conncet to Salesforce using your login credentials</h4>
            </div>
      
            <!-----------link-div----------->

           <div class="link">
               <p>Your Salesforce URL</p>
               <a href="https://login.Salesforce.com">https://login.Salesforce.com</a>
               <hr size="4" width="90%">  
           </div>

           <!-----------button-div----------->

           <div class="connect-button">
               <button mat-flat-button type="button" class="btn-xl btn-primary">Connect Now</button>
           </div>

           <!-----------support-div----------->

           <div class="support">

               <div class="user-guide">
               
                <button mat-flat-button><mat-icon class="icon-help">help</mat-icon></button><a class="link" href="">Open Your Guide</a>
               </div>

               <div class="contact-support">
                <button mat-flat-button><mat-icon class="icon-support">phone_in_talk</mat-icon></button><a class="link" href="">Contact Support</a> 
               </div>
           </div>

            <!-----------bottom-icons-div----------->
<footer class="footer">
    <footer>
    
        <button mat-button class="dollar-buttons"><mat-icon>monetization_on</mat-icon></button>
    
                    <button mat-button class="question-buttons "><mat-icon>help</mat-icon></button>
             
                    <button mat-button class="phone-buttons "> <mat-icon>phone_in_talk</mat-icon></button>
    
                    <button mat-button class="settings-buttons "><mat-icon>settings</mat-icon></button>
    
                    <button mat-button class="sign-out-buttons "><mat-icon>logout</mat-icon></button>
    
      </footer>

</footer>

       </div>

    </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>